@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#main-banner{
    display: flex;
    height: 100vh;
}
#main-banner > div{
    width: 50%;
}
#main-banner-right {
    background-image: url(../img/pr-main.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#main-banner-right > div{
    width: 100%;
    height: 100vh;
    background-color: rgba(200, 70, 70, .4);
}
#main-banner-left{
    padding: 1rem;  
}
#main-banner-left img{
    width: 150px;
}
#main-banner-left-writ h1{
    max-width: 90%;
    font-size: 3.7rem;
    font-family: "Public Sans", sans-serif;
}
#main-banner-left-writ{
    margin-block-start: 7rem;
}
#main-banner-left-writ p{
    font-size: 1.4rem;
    margin-block: 3rem;
}
#main-banner-left-writ a{
    text-decoration: none;
    font-size: 1.75rem;
    background-color: rgb(233, 5, 5);
    color: #fff;
    display: inline-block;
    padding: 1rem 2rem;
}
#waowx-description{
    background-color: black;
    color: #fff;
    text-align: center;
    padding-block: 3rem;
}
#waowx-description p{
    font-size: 1.5rem;
}
#first-services{
    width: 100%;
    height: 100vh;
    display: flex;
}
#first-services > div{
    width: 50%;
    height: 100vh;
}
#first-services img{
    max-width: 100%;
}
.first-services-left-div{
    display: flex;
    flex-wrap: wrap;
}
.first-services-left-div > div{
    width: 50%;
    height: 50vh;
    overflow: hidden;
}
.first-service-left-writ{
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-top: 3.5px solid rgb(233, 5, 5);
    border-bottom: 3.5px solid #000000;
    font-family: "Young Serif", serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px red;
    font-size: 5rem;
}
.first-service-left-writ h3{
    width: 70%;
    margin-inline: auto;
}
.first-services-left-div img{
    filter: brightness(.4);
    transform: scale(1);
    transition-duration: .3s;
}
.first-services-left-div img:hover{
    transform: scale(1.1);
    transition-duration: .45s;
    z-index: -9;
}
.first-services-right{
    overflow: hidden;
    position: relative;
}
.first-services-right h3{
    font-family: "Young Serif", serif;
}
.first-services-right img{
    filter: brightness(.35);
    transform: scale(1);
    transition-duration: .35s;
}
.first-services-right img:hover{
    transform: scale(1.2);
    transition-duration: .35s;
}
.first-services-right-inner{
    color: #fff;
    padding-inline: 5rem;
    position: absolute;
    top: 18%;
}
.graphing{
    max-height: 100vh;
    position: relative;
}
.graphing img{
    max-width: 100%;
    filter: brightness(.5);
}
.graphing-div{
    height: 100vh;
    position: absolute;
    top: 0;
    max-width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    padding-inline: 12rem;
}
.graphing-div h1{
    font-family: "Young Serif", serif;
}
.graphing-div p{
    font-size: 1.2rem;
}
.graphing-div a{
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: .85rem;
    border: 1px solid #fff;
    max-width: 20%;
}
#connect-with-us{
    padding-block: 7rem;
    text-align: center;
    font-family: "Young Serif", serif;
    font-size: 4rem;
}
#connect-socials{
    display: flex;
}
.social-blocks{
    width: 25%;
    height: 35vh;
    background-color: red;
    text-align: center;
    padding-block: 1.5rem;
}
.brand-title{
    margin-top: 2rem;
    width: auto;
}

.brand-line{
    height: 2.5px;
    background-color: black;
    max-width: 100%;
}
.social-blocks i{
    font-size: 2rem; 
}
#facebook-block{

}
#instagram-block{

}
#twitter-block{

}
#linkedin-block{

}