@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.animated-element {
    opacity: 0;
    position: relative;
    top: 5rem;
    transition: all .8s ease;
    transition-delay: 2.7;
}
.animated-element.visible {
    opacity: 1;
    position: relative;
    top: 0rem;
    transition: all .9s ease;
}
#main-banner{
    display: flex;
    height: 100vh;
}
#main-banner > div{
    width: 50%;
}
#main-banner-right {
    background-image: url(../img/GuestListManagement.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#main-banner-right > div{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .35);
}
#main-banner-left{
    padding: 1rem;  
}
#main-banner-left img{
    width: 150px;
}
#main-banner-left-writ h1{
    max-width: 90%;
    font-size: 5.7rem;
    font-family: "Mulish", sans-serif;
}
#main-banner-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menu{
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}
#menu a{
    color: black;
    text-decoration: none;
}
#menu a:hover{
    color: red
}
#menu span{
    display: none;
}
#main-banner-left-writ{
    margin-block-start: 7rem;
}
#main-banner-left-writ p{
    font-size: 1.4rem;
    margin-block: 3rem;
}
#main-banner-left-writ button{
    text-decoration: none;
    font-size: 1.75rem;
    background-color: rgb(233, 5, 5);
    color: #fff;
    display: inline-block;
    padding: 1rem 2rem;
    border: none !important;
}
#waowx-description{
    background-color: black;
    color: #fff;
    text-align: center;
    padding-block: 3rem;
}
#waowx-description p{
    font-size: 1.5rem;
}
#first-services{
    width: 100%;
    height: 100vh;
    display: flex;
}
#first-services > div{
    width: 50%;
    height: 100vh;
}
#first-services img{
    max-width: 100%;
}
.first-services-left-div{
    display: flex;
    flex-wrap: wrap;
}
.first-services-left-div > div{
    width: 50%;
    height: 50vh;
    overflow: hidden;
}
.first-service-left-writ{
    display: flex;
    align-items: center;
    padding: .5rem;
    border-top: 3.5px solid rgb(233, 5, 5);
    border-bottom: 3.5px solid #000000;
    font-family: "Young Serif", serif;
    font-weight: 900;
    text-shadow: 0px 0px 1px red;
    font-size: 5rem;
}
.first-service-left-img{
    position: relative;
}
.first-service-left-writ-img{
    position: absolute;
    top: 40%;
    color: #fff;
    font-family: "young serif", sans-serif;
    text-align: center;
    width: 100%;
}
.first-service-left-writ-img h3{
    display: none;
}
.first-service-left-writ h3{
    width: 70%;
    margin-inline: auto;
}
.first-services-left-div img{
    filter: brightness(.4);
    transform: scale(1);
    transition-duration: .3s;
}
.first-services-left-div img:hover{
    transform: scale(1.1);
    transition-duration: .45s;
    z-index: -9;
}
.first-services-right{
    overflow: hidden;
    position: relative;
}
.first-services-right h3{
    font-family: "Young Serif", serif;
}
.first-services-right img{
    filter: brightness(.35);
    transform: scale(1);
    transition-duration: .35s;
}
.first-services-right img:hover{
    transform: scale(1.2);
    transition-duration: .35s;
}
.first-services-right-inner{
    color: #fff;
    padding-inline: 5rem;
    position: absolute;
    top: 18%;
}
.graphing{
    max-height: 100vh;
    position: relative;
}
.graphing img{
    max-width: 100%;
    filter: brightness(.5);
}
.graphing video{
    width: 100%;
}
.graphing-div{
    height: 100vh;
    position: absolute;
    top: 0;
    max-width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    padding-inline: 12rem;
}
.graphing-div h1{
    font-family: "Young Serif", serif;
}
.graphing-div p{
    font-size: 1.2rem;
}
.graphing-div a{
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-block: .85rem;
    border: 1px solid #fff;
    max-width: 20%;
}
#connect-with-us{
    padding-block: 4rem;
    text-align: center;
    font-family: "Young Serif", serif;
    font-size: 4rem;
    text-decoration: underline;
    text-underline-offset: 20px;
}
#connect-socials{
    display: flex;
}
.social-blocks{
    width: 25%;
    height: 35vh;
    text-align: center;
    display: flex;
    align-items: center;
}
.brand-title{
    margin-top: 2rem;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 3px;
}
.brand-title ~ p{
    font-family: "Young Serif", serif;
    font-size: 1.5rem;
    padding-inline: 3rem;
}
.social-blocks i{
    font-size: 2rem; 
}
.social-blocks a{
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50);
    text-decoration: none;
}
.social-blocks a:hover{
    color: rgba(199, 0, 0, 0.733);
}
#footer{
    background-color: black;
    color: #fff;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem;
}
#footer > div{
    width: 33.33%;
}
#footer img{
    width: 250px;
}

#contact-form{
    width: 100%;
}
#contact-form input{
    width: 80%;
    margin-inline: auto;
    display: block;
    border: 1px solid rgb(150, 150, 150);
    margin-top: .5rem;
    height: 35px;
    padding-left: 1rem;
}
#contact-form button{
    margin-top: 1rem;
    display: block;
    border: none;
    color: white;
    background-color: black;
    text-align: center;
    width: 80%;
    margin-inline: auto;
    padding-block: .5rem;
}
#contact-form button:hover{
    background-color: rgb(150, 150, 150);
}
@media screen and (max-width: 598px) {
    #main-banner{
        display: block;
        height: auto;
    }
    #main-banner > div{
        width: 100%;
    }
    #main-banner-right {
        background-image: url(../img/main-banner.jpg);
        background-size: contain;
    }
    #main-banner-left-writ h1{
        max-width: 90%;
        font-size: 2.5rem;
        font-family: "Public Sans", sans-serif;
    }
    #main-banner-left-writ{
        margin-block-start: 4rem;
    }
    #main-banner-right > div{
        height: auto;
    }
    #main-banner-left-writ p{
        font-size: 1.2rem;
        margin-block: 2rem;
        text-align: justify;
    }
    #menu span{
        display: inline-block;
    }
    #menu a{
        display: none;
    }
    #menu{
        width: 10%;
    }
    #waowx-description{
        padding-inline: .25rem;
    }
    #waowx-description p{
        font-size: 1rem;
    }
    #first-services{
        height: auto;
        display: block;
    }
    #first-services > div{
        width: 100%;
        height: auto;
    }
    .first-services-left-div{
        display: block;
    }
    .first-services-left-div > div{
        width: 100%;
        height: 50vh;
        overflow: hidden;
    }
    .first-service-left-writ{
        display: none;
    }
    .first-service-left-writ-img h3{
        display: block;
    }
    .first-services-right-inner{
        padding-inline: 3rem;
    }
    .graphing{
        max-height: autos;
        position: relative;
    }
    .graphing-div{
        height: auto;
        align-items: center;
        padding-inline: 1rem;
        padding-top: 1.5rem;
    }
    .graphing-div p{
        font-size: .9rem;
    }
    .graphing-div a{
        max-width: 50%;
    }
    #connect-socials{
        display: block;
    }
    .social-blocks{
        width: 100%;
        margin-inline: auto;
        display: flex;
        align-items: center;
    }
    #footer{
        display: block;
    }
    #footer > div{
        width: 100%;
        margin-block: 1rem;
    }
    #footer img{
        width: 150px;
        margin: auto;
        display: block;
    }
}
